
.header {
    /* position: relative;
    background: url(./image/bg_layout1.jpg) center no-repeat ;
    width: 100%;
    height: 957px;
    height: 100vh;
    z-index: 1; */
    position: relative;
    background-image: url(./image/bg_layout1.jpg) center no-repeat;
    /* width: 100%; */
    /* height: 957px; */
    height: 100vh;
    z-index: 1;
    background-image: url(./image/bg_layout1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    opacity: 0.5;
    z-index: -1;
}
.header:hover::after {
    opacity: 0;
}

.wrapper_header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wrapper_header_left {
    padding-top: 19px;
    padding-left: 18px;
    display: flex;
    flex:1;
}
.block_header_logo {
    margin-right: 55px;
}
.block_header_navbar {
    display: flex;
    margin-top: 40px;
}
.item_navbar:first-child {
    margin-right: 54px;
}
.item_navbar {
    margin-right: 55px;
}
.link_navbar {
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
.wrapper_header_right  {
    display: flex;
    flex:0.8;
    justify-content: space-between;
}
.block_search {
    padding-top: 45px;
    position: relative;
}
.search {
    font-size: 25px;
    outline: none;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    margin-left: 70px;
    display: inline-block;
    padding-right:15px;
    color: #fff;
}
.icon_search {
    position: absolute;
    right: 0;
    top: 55px;
    cursor: pointer;
}
.block_language  {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-right: 10px;
}
.list_language {
    display: flex;
    border-bottom: 1px solid #ffff;
    padding-left: 38px;
}

.item_language {
    position: relative;
    padding:0 30px 7px;
}

.item_language a {
    font-size: 16px;
    color: #fff;
}

.item_language:not(:last-child):after {
    position: absolute;
    content: "";
    right: 0;
    width: 2px;
    height: 14px;
    background-color: #fff;

}
.link_navigation {
    color: #fff;
}

.list_navigation  {
    display: flex;
    padding-top: 13px;
    justify-content: space-evenly;
    font-size: 16px;
    font-weight: 400;
}

.title_home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1168px;
    text-align: center;
    line-height: 1.5;
}
.title_home h1 {
    font-size: 40px;
    color: #fff;
    font-weight:100;
    letter-spacing: 2px;
}
.title_home h1 span {
   font-family: Myriad Pro Bold;
}
.scroll_down {
    position: absolute;
    bottom: 2.1%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    cursor: pointer;
}
.scroll_down p {
    margin-top: 15px;
    font-size: 16px;
    color: #fff;
}


/* Main */
.main_content {
    height: 300vh;
}
/* Product */
.block_products_food {
    position: relative;
}
.background_product_food:nth-child(1) {
    position: relative;
    z-index: 1;
    opacity: 0.8;
}
.block_products_food:nth-child(1)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f2c992;
    opacity: 0.2;
    z-index:1;
    cursor: pointer;
}
.background_product_food img {
    width: 100%;
}
.wrapper_img_food {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 2;
}
.fork_black {
    display: none;
}
.block_products_food:hover .fork_black {
    display: block;
}
.block_products_food:hover .fork_white {
    display: none;
}
.block_products_food:hover .text_title_product a {
    color: #111;
}
.block_products_food:hover::after {
    opacity: 0;
}
.text_title_product a {
    font-size: 22px;
    font-weight: 600 ;
    color: #fff;
    margin-top: 17px;
}

/* news */
.wrapper_news_awards {
    display: flex;
    justify-content: space-between;
}
.block_news_awards_img {
    flex:1;
}
.block_news_awards_img img {
    width: 100%;
}
.block_news_awards_text {
    padding-top: 38px;
    text-align: center;
    flex:1;
}
.block_news_awards_text h2 {
    font-size: 22px;
    margin-bottom: 39px;
}
.block_news_awards_text .sub_news_awards {
    font-size: 22px;
    color: #144aa8;
}
.day_news_awards {
    font-size: 12px;
    margin-top: 12px;
    margin-bottom: 37px;
}
.content_news_awards {
    font-size: 18px;
    margin-bottom: 37px;
}
.read_more {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: #144aa8;
    padding: 0 20px ;
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
    margin-bottom: 24px;
}
.read_more::before {
    position: absolute;
    content: "";
    left: 0;
    width: 1px;
    height: 5px;
    background-color: #333;
    bottom: 0;
}
.read_more::after {
    position: absolute;
    content: "";
    right: 0;
    width: 1px;
    height: 5px;
    background-color: #333;
    bottom: 0;
}
.list_number {
    display: flex;
    justify-content: center;
}
.item_number {
    width: 37px;
    height: 37px;
    border:1px solid #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}
.item_number:hover {
    background-color: rgb(131, 128, 128);
}
.item_number:first-child {
    margin-left: -5px;
}
