* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    word-break: break-word;
}
:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --green-color:#2ecc71;
}
sup {
    vertical-align: super !important;
    /* font-size: smaller !important; */
    font-size: 10px;
}

@font-face {
    font-family:regular ;
    src: url(../fonts/MYRIADPRO-REGULAR.woff);
}
@font-face {
    font-family:bold;
    src: url(../fonts/MYRIADPRO-BOLD.woff);
}
a {
    text-decoration: none;
    /* display: block; */
    color: #333;
}

html,body {
    font-family: regular;
    overflow-x: hidden;
}
.link_product_new {
    position: relative;
    z-index: 0;
    display: block;
}
.product_hot {
    position: absolute;
    top: 15px;
    padding: 10px 13px;
    font-size: 11px;
    background-color: #e74c3c;
    color: #fff;
    text-transform: uppercase;
    z-index: -1;
}
.product_sale {
    position: absolute;
    top: 50px;
    padding: 9px 10px;
    font-size: 13px;
    background-color: #2ecc71;
    color: #fff;
    z-index: -1;
}
.wrapper_product_new:nth-child(3) .product_sale {
    top: 15px;
}
.wrapper_product_new:nth-child(4) .product_sale {
    top: 15px;
}
.wrapper_product_new:nth-child(5) .product_sale {
    top: 15px;
}
.block_products_normal_3 .wrapper_product_new:nth-child(1) .product_sale {
    top: 15px;
}
.price_product_camera {
    justify-content: space-between !important;
}
.price_product_camera_1 {
    justify-content: flex-end !important;
}

.overplay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 300vh;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(51, 51, 51, 0.494);
    z-index: 1;
    display: none;
}
/* Select */

.select2-container {
    width: 232px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    /* padding-right: 23px; */
    padding-top: 8px;
    padding-left: 9px;
    padding-right: -6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: -2px;
}
.select2-container .select2-selection--single {
    height: 40px !important;
    
}
.select2-container--default .select2-selection--single {
    border-radius: 2px !important;
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
    border: 1px solid #2ecc71 !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #4a4a4a transparent transparent transparent !important;
    border-width: 7px 6px 0 6px !important; 
    left: 11% !important;
    position: absolute;
    top: 73% !important;
}

/* Slick_ */

/* Slider_detail */

.slide_detail_small {
    /* width: 340px; */
    margin: 0 auto;
}
.wrapper_slider_detail img {
    width: 98% !important;
    margin: 0 5px;
}
.wrapper_slide_detail_small {
    position: relative;
    width: 364px;
    margin: 0 auto;
    top: 3%;
    cursor: pointer;
}
.detail_arrow {
    position: absolute;
    left: -30px;
    top: 32%;
    cursor: pointer;
}
.detail_next {
    position: absolute;
    right: -30px;
    top: 32%;
    cursor: pointer;
}
/* .wrapper_slide_detail_small .slick-list {
    padding: 0 0 !important;
} */
.slick-list {
    margin: 0 -15px !important;
}
.slick-slide {
    padding: 0 10px !important;
}
.wrapper_slide_detail_small .slick-slide img {
    border: 1px solid #d7d7d7;
    margin: 0 52px;
}



/* Slider long */
.slider_area {
    position: relative;
    width: 1140px !important;
    /* overflow-x: hidden; */
    margin:0 auto !important;
}
.slider_area .slick-slide {
    /* width: 166px !important; */
    margin: 30px 15px;
}
.prev {
    position: absolute;
    top: 45%;
    left: -12px;
    cursor: pointer;
    z-index: 5;
}
.next {
    position: absolute;
    top: 45%;
    right: -19px;
    cursor: pointer;
    z-index: 5;
}
.slider_img {
    margin: 0 -5px;
}
.slick-slide img {
    display: block;
    width: 100%;
}